body{
    background-image: url(../images/background-1.jpg);
    background-size: 100vw 100vh;
    text-align: center;
    line-height: 150%;
    text-shadow: rgb(172, 82, 102) 1px 0 7px;
}
div{
    border-radius: 23%;
}
.directions{
    font-family: 'Neucha', cursive;
    float: left;
    width: 160px;
    overflow: auto;
    color: rgb(87, 58, 20);
    font-size: 20px;
    background-color: hsl(60, 56%, 91%, 0.5);
    padding: 10px;
    font-weight: bold;
    margin: auto 5px;
}
.buttons{
    float: right;
    cursor: pointer;
    position: absolute;
    width: 140px;
    height: 30px;
    font-size: 17px;
    font-weight: bold;
    color: rgb(48, 48, 112);
    background-color: hsl(82, 39%, 30%, 0.75);
    margin: 15px;
    right: 15px;
    opacity: 0.9;
}
.buttons:hover{
    background-color: brown;
}
#restart{
    bottom: 175px;
}
#new-game{
    bottom: 135px;
}
#scoring{
    font-family: 'Satisfy', cursive;
    position: absolute;
    float: right;
    width: 155px;
    overflow: auto;
    color: indigo;
    font-size: 21px;
    background-color: hsl(60, 56%, 91%, 0.5);
    padding: 8px;
    font-weight: bold;
    top: 190px;
    right: 20px;
}
.spell{
    font-family: 'Great Vibes', cursive;
    margin: 130px auto;
    width: 400px;
    color: burlywood;
    background-color: hsl(271, 76%, 53%, 0.45);
    padding: 35px;
}
.element-image {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-size: 120%;
    position: absolute;
    opacity: 0.7;
} 
#img0{
    background: url(../images/carissa-rogers-AvcEAILWYNE-unsplash.jpg);
    top: 2%;
    left: 13%;
}
#img1{
    background: url(../images/daniel-park-qeS3bwwKb8A-unsplash.jpg);
    top: 2%;
    right: 13%;
}
#img2{
    background: url(../images/jong-marshes-79mNMAvSORg-unsplash.jpg);
    bottom: 2%;
    right: 13%;
}
#img3{
    background: url(../images/veeterzy-sMQiL_2v4vs-unsplash.jpg);
    bottom: 2%;
    left: 13%;
}
#img3:hover, 
#img2:hover, 
#img1:hover, 
#img0:hover{
    background: url(../images/pentagram-vector-element_fJnkMoLu_L-300x300.jpg);
    opacity: 0.6;
    cursor: pointer;
}
#in-depth{
    font-family: 'Homemade Apple', cursive;
    background-color: rgba(129, 118, 96, 0.5);
    border-radius: 30%;
    color: hsl(240, 48%, 23%, 0.85);
    padding: 20px;
}